.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class

.env
.env.*
.env.txt

db/
*.db
*.sqlite
*.sqlite3

alembic/__pycache__/
alembic/versions/__pycache__/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
