<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>ERROR</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='styles/style.css') }}?v=20260302" rel="stylesheet">
</head>
<body>
    <header class="topbar">
        <a href="/" class="brand">
            <span class="brand-dot"></span>
            <span class="brand-name">Sociable | {{ status_code }}</span>
        </a>

        <nav class="top-actions">
            <a href="/"><button>Вернутся</button></a>
        </nav>
    </header>

    <main>
        <div class="card-info">
            <h1>{{ status_code }}</h1>
            <p>{{ detail or "Что-то пошло не так" }}</p>
        </div>
    </main>
</body>
</html>